.bg-container {
  background-color: #ffffff;
  min-height: 100vh;
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-heading {
  color: #0f172a;
  font-size: 24px;
  text-align: center;
}

.boxes {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container {
  min-width: 100%;
}

.box {
  background-color: #fbbf24;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Bree-Serif';
}

.small-box {
  background-color: #fbbf24;
  height: 13vh;
  width: 15%;
}

.medium-box {
  background-color: #38bdf8;
  height: 20vh;
  width: 25%;
}

.large-box {
  background-color: #ec4899;
  height: 30vh;
  width: 35%;
}

@media (min-width: 768px) {
  .boxes {
    flex-direction: row;
    align-items: flex-end;
  }

  .box {
    margin: 18px;
  }
}
